{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card m-3 p-4">
    <div class="row">
        <div class="col-6">
            <h4>Add Department</h4>
            <form method="POST">
                {% csrf_token %}
        {{form|crispy}}
                <button type="submit" class="btn btn-primary mt-3">Add Department</button>
            </form>
        </div>
        <div class="col-6">
            <h4>Create new user</h4>
            <form method="POST">
                {% csrf_token %}
                {{user_form|crispy}}
                <button type="submit" class="btn btn-primary mt-3">Add User</button>
            </form>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col-6">
                <h4>Departments</h4>
                {% for dept in depts %}
                <div class="card p-3">
                    <h5>{{dept.department_name}}</h5>
                </div>
                {% empty %}
                <p>No departments were added.</p>
                {% endfor %}
            </div>
            <div class="col-6">
                <h4>Users</h4>
                {% for user in users %}
                <div class="card p-3">
                    <a href="{% url 'editProfile' user.id %}">
                        <h5>{{user.username}}</h5>
                    </a>
                </div>
                {% empty %}
                <p>No users were added.</p>
                {% endfor %}
                <small>Click users to edit their profiles</small>
            </div>
        </div>
    </div>
    <a href="{% url 'iredirect' %}" class="mt-3">Go to Homepage</a>
</div>
{% endblock %}
